@mixin column-center() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin row-center() {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin column-between() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin row-between() {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin column-around() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin row-around() {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
